.row
  .col-md-6

    = simple_form_for @trip, html: { class: 'form-horizontal' } do |f|
      = f.error :base

      .panel.panel-default
        .panel-heading
          %h3.panel-title Type d'annonce
        .panel-body
          = f.input :kind, as: :radio_buttons, wrapper: :horizontal_radio_and_checkboxes, item_label_class: 'radio-inline', collection: [['Chauffeur', 'Driver'], ['Passager', 'Passenger']], label: 'Vous êtes'

      .panel.panel-default
        .panel-heading
          %h3.panel-title Votre trajet
        .panel-body
          = f.input :leave_at, as: :string, wrapper: :horizontal_form, input_html: { class: 'datepicker' }, placeholder: 'Date', label: 'Date'
          = f.simple_fields_for :points, @required_points do |p|
            = p.input :location_name, as: :string, wrapper: :horizontal_form, input_html: { class: 'geocoder' }, placeholder: t(p.object.kind.downcase), label: t(p.object.kind.downcase+'_place'), required: true
            = p.input :location_coordinates, as: :hidden
            = p.input :kind, as: :hidden
          = f.input :price, wrapper: :horizontal_form
          = f.input :description, wrapper: :horizontal_form


      .panel.panel-default
        .panel-heading
          %h3.panel-title Optionnel : faites-vous des étapes ?
        .panel-body
          - i = 0
          = f.simple_fields_for :points, @optional_points do |p|
            - i += 1
            = p.input :location_name, as: :string, wrapper: :horizontal_form, input_html: { class: 'geocoder' }, placeholder: t(p.object.kind.downcase), label: t(p.object.kind.downcase+'_place') + " #{i}"
            = p.input :location_coordinates, as: :hidden
            = p.input :kind, as: :hidden
            = p.input :rank, as: :hidden

      .panel.panel-default
        .panel-heading
          %h3.panel-title Vous
        .panel-body
          = f.input :title, as: :radio_buttons, wrapper: :horizontal_radio_and_checkboxes, item_label_class: 'radio-inline', collection: [['Homme', 'M'], ['Femme', 'F']], label: 'Vous êtes'
          = f.input :name, as: :string, wrapper: :horizontal_form
          = f.input :age, as: :string, wrapper: :horizontal_form
          = f.input :phone, as: :string, wrapper: :horizontal_form
          = f.input :email, as: :string, wrapper: :horizontal_form

      = f.submit 'Créez votre annonce', class: 'btn btn-primary btn-lg'

:javascript
  initAutocomplete()
  initDatepicker()
