.nested-fields.form-inputs.row
  = f.input :city, as: :string, wrapper: :horizontal_form, wrapper_html: { class: 'col-sm-8' }, input_html: { class: 'geoname' }, placeholder: 'Ville', label: "Etape #{f.object.rank}", required: false
  = f.input :price, as: :string, wrapper: :horizontal_form, wrapper_html: { class: 'col-sm-4' }, label: false, placeholder: '* Prix'.html_safe
  = f.input :lon, as: :hidden
  = f.input :lat, as: :hidden
  = f.input :kind, as: :hidden, input_html: { value: f.object.kind || 'Step' }
  = f.input :rank, as: :hidden
  = link_to_remove_association '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>'.html_safe, f, class: 'btn btn-default'
