.trip
  = link_to trip, class: 'trip-item' do
    .driver
      .avatar= image_tag('covoiturage-avatar-default2.png')
      .info
        .name= trip.name
        .age= "#{trip.age} ans" if trip.age.present?
    .trip-info
      .title
        =l trip.departure_date, format: :long
        =l trip.departure_time, format: :short
      .details
        = trip_steps_breadcrumb_with_emphasis(trip, trip.try(:point_a_id), trip.try(:point_b_id))
    .price
      %p= "#{trip_price(trip, trip.try(:point_a_price), trip.try(:point_b_price))} €"
      .seats
        = "#{trip.seats} places"
    .clearfix