%li.trip.row
  =link_to '#', id: "trip_#{trip.id}" do
    .driver.col-md-3.name
      = trip.name
      = number_to_age(trip.age)
    .trip-info.col-md-6
      .title= l trip.leave_at, format: :long
      %p
        = trip.locations.find_by(kind: 'From').city
        &rarr;
        = trip.locations.find_by(kind: 'To').city
    .trip-info.col-md-3
      .price= number_to_currency trip.price

