.trip
  = link_to '#', class: 'trip-item' do
    .driver
      .avatar= image_tag('covoiturage-avatar-default2.png')
      .info
        .name= trip.name
        .age= "#{trip.age} ans"
    .trip-info
      .title=l trip.leave_at, format: :long
      .details
        = "#{@search.short_from_name}"
        &rarr;
        = "#{@search.short_to_name}"
    .price
      %p= number_to_currency(trip.price)
    .clearfix