.trip
  = link_to trip, class: 'trip-item' do
    .driver
      .avatar= image_tag('covoiturage-avatar-default2.png')
      .info
        .name= trip.name
        .age= "#{trip.age} ans" if trip.age.present?
    .trip-info
      .title
        =l trip.departure_date, format: :long
        = trip.departure_time.try(:strftime, "%k:%m")
      .details
        = trip_steps_breadcrumb(trip)
    .price
      %p= "#{trip.price} €"
      .seats
        = "#{trip.seats} places"
    .clearfix