.trip
  = link_to trip, class: [('trip-item-before' if ((trip.departure_date == Date.today && trip.before_actual_time) || trip.departure_date < @search.date_value)), ('trip-item-after' if trip.departure_date > @search.date_value), ('trip-item')] do
    .driver
      .avatar= image_tag('covoiturage-avatar-default2.png')
      .info
        .name= trip.name
        .age= "#{trip.age} ans" if trip.age.present?
    .trip-info
      .title
        =l trip.departure_date, format: :long
        =l trip.departure_time, format: :short
        %p= "(le covoit' est déjà parti !)" if ((trip.departure_date == Date.today && trip.before_actual_time)) 
        %p= "/!\\ départ dans #{Integer(trip.departure_date - @search.date_value)} jour(s)" if (trip.departure_date < @search.date_value) 
        %p= "/!\\ départ dans +#{Integer(trip.departure_date - @search.date_value)} jour(s)" if (trip.departure_date > @search.date_value) 
      .details
        = trip_steps_breadcrumb_with_emphasis(trip, trip.try(:point_a_id), trip.try(:point_b_id))
    .price
      %p= "#{trip_price(trip, trip.try(:point_a_price), trip.try(:point_b_price))} €"
      .seats
        = "#{trip.seats} places"
    .clearfix
