.trip
  = link_to trip, class: 'trip-item' do
    .driver
      .avatar= image_tag('covoiturage-avatar-default2.png')
      .info
        .name= trip.name
        .age= "#{trip.age} ans"
    .trip-info
      .title=l trip.leave_at, format: :long
      .details
        = "#{trip.point_from.city}"
        &rarr;
        = "#{trip.point_to.city}"
    .price
      %p= "#{trip.price} €"
      .seats
        = "#{trip.seats} places"
    .clearfix