.trip
  = link_to trip, class: [('trip-item-before' if (trip.is_before_today? || trip.is_strictly_before(@search.date_value))), ('trip-item-after' if trip.is_strictly_after(@search.date_value)), ('trip-item')] do
    .driver
      .avatar= image_tag('covoiturage-avatar-default2.png')
      .info
        .name= trip.name
        .age= "#{trip.age} ans" if trip.age.present?
    .trip-info
      .title
        =l trip.departure_date, format: :trip_date
        =l trip.departure_time, format: :short
        %p= "(le covoit' est déjà parti !)" if (trip.is_before_today?) 
        %p= "/!\\ départ dans #{Integer(trip.departure_date - @search.date_value)} jour(s)" if (trip.is_strictly_before(@search.date_value)) 
        %p= "/!\\ départ dans +#{Integer(trip.departure_date - @search.date_value)} jour(s)" if (trip.is_strictly_after(@search.date_value)) 
      .details
        = trip_steps_breadcrumb_with_emphasis(trip, trip&.point_a_id, trip&.point_b_id)
    .price
      %p= "#{trip_price(trip, trip&.point_a_price, trip&.point_b_price)} €"
      .seats
        - if trip.seats == 0
          Complet
        - else
          = "#{trip.seats} place#{'s' if trip.seats > 1}"
    .clearfix
