%br
%p= link_to '&larr; Retour aux résutats'.html_safe, :back

%h3="Voyage de #{@trip.point_from.city} à #{@trip.point_to.city}"

.row
  .col-md-6
    .panel.panel-default
      .panel-body
        .row
          .col-md-3
            Départ
          .col-md-9
            %strong="#{@trip.point_from.city}"
        .row
          .col-md-3
            Arrivée
          .col-md-9
            %strong="#{@trip.point_to.city}"
        .row
          .col-md-3
            Date de départ
          .col-md-9
            %strong="#{l @trip.leave_at, format: :long}"
        .row
          .col-md-3
            Détails
          .col-md-9
