%br
%p= link_to '&larr; Retour aux résutats'.html_safe, :back

%h3="Voyage de #{@trip.point_from.city} à #{@trip.point_to.city}"

.row
  .col-md-6
    .panel.panel-default
      .panel-body
        .row
          .col-md-4
            =t Trip.human_attribute_name(:kind)
          .col-md-8
            %strong="#{@trip.kind}"
        .row
          .col-md-4
            Départ
          .col-md-8
            %strong=ed "#{@trip.point_from.city}"
        .row
          .col-md-4
            Arrivée
          .col-md-8
            %strong=ed "#{@trip.point_to.city}"
        .row
          .col-md-4
            Date de départ
          .col-md-8
            %strong="#{l(@trip.leave_at, format: :long).split(' à ')[0]}"
        .row
          .col-md-4
            Heure de départ
          .col-md-8
            %strong="#{l(@trip.leave_at, format: :long).split(' à ')[1]}"
        .row
          .col-md-4
            Nombre de places
          .col-md-8
            %strong=@trip.seats
        .row
          .col-md-4
            =t Trip.human_attribute_name(:comfort)
          .col-md-8
            %strong=t :"activerecord.attributes.trip.comfort_#{@trip.comfort}"
        .row
          .col-md-4
            Commentaire
          .col-md-8
            .well=ed @trip.description
        .row
          .col-md-4
            Prix
          .col-md-8
            =@trip.price
        .row
          .col-md-4
            Titre
          .col-md-8
            =@trip.title
        .row
          .col-md-4
            Fumeur
          .col-md-8
            =@trip.smoking
  .col-md-6
    .panel.panel-default
      .panel-body
        .row
          .col-md-8
            .driver
              .avatar= image_tag('covoiturage-avatar-default2.png')
              .info
                .name=ed @trip.name
                .age= "#{@trip.age} ans" if @trip.age.present?
                .email= @trip.email
                .phone= @trip.phone
          .col-md-4
            .price
              %p= "#{@trip.price} €"
              .seats
                = "#{@trip.seats} places"

    .panel.panel-default
      .panel-body
        %center= link_to 'Réserver', '#', class: 'btn btn-warning btn-lg'