%br
%p= link_to '&larr; Retour aux résutats'.html_safe, :back

= flash_messages

.page-header
  %h1
    ="Voyage de #{@trip.point_from.city} à #{@trip.point_to.city}"
    %small
      = distance_of_time_in_words(@trip.total_time) if @trip.total_time.present?
      = "- #{(@trip.total_distance / 1000).round} km" if @trip.total_distance.present?

.row
  .col-md-6
    .panel.panel-default
      .panel-body
        .row
          .col-lg-4
            Départ
          .col-lg-8
            %strong= @trip.point_from.city
        .row
          .col-md-4
            Arrivée
          .col-md-8
            %strong= @trip.point_to.city
        .row
          .col-md-4
            Date de départ
          .col-md-8
            %strong=l @trip.departure_date
        .row
          .col-md-4
            Heure de départ
          .col-md-8
            %strong= @trip.departure_time.try(:strftime, "%k:%m")
        .row
          .col-md-4
            Nombre de places
          .col-md-8
            %strong=@trip.seats
        .row
          .col-md-4
            =t Trip.human_attribute_name(:comfort)
          .col-md-8
            %strong=t :"activerecord.attributes.trip.comfort_#{@trip.comfort}"
        .row
          .col-md-4
            Prix
          .col-md-8
            = number_to_currency @trip.price
        .row
          .col-md-4
            Fumeur
          .col-md-8
            =t :"activerecord.attributes.trip.smoking_#{@trip.smoking}"

    .panel.panel-default
      .panel-heading
        %h3.panel-title
          %strong Étapes :
          = trip_steps_breadcrumb(@trip)
      .panel-body
        #route-wrapper
          #route

  .col-md-6
    .panel.panel-default
      .panel-body
        .row
          .col-md-8
            .driver
              .avatar= image_tag('covoiturage-avatar-default2.png')
              .info
                .name= @trip.name
                .age= "#{@trip.age} ans" if @trip.age.present?
                .sex=t :"activerecord.attributes.trip.title_#{@trip.title}"
                .phone#image_phone= image_tag('')
          .col-md-4
            .price
              %p= "#{@trip.price} €"
              .seats
                = "#{@trip.seats} places"
        .row
          .col-md-9.col-md-offset-1
            %br
            = "Commentaire de #{@trip.name} :"
            .well= @trip.description

    .panel.panel-default
      .panel-body
        #message_zone
          .message#message-wrapper
            = render 'messages/form'
    .panel.panel-default
      .panel-body
        .trip-ownership
          %p C'est votre annonce et vous souhaitez la modifier/supprimer ? Utilisez les liens présents dans le courriel de confirmation que vous avez reçu lors de la création de l'annonce.
          %p
            Vous avez perdu le courriel de confirmation ?
            = link_to 'Cliquez ici', resend_email_trip_path(@trip)
            pour le recevoir à nouveau.

= link_to 'Modifier', edit_trip_path(@trip.edition_token)

- content_for :javascript_footer do
  :javascript

    var img = $("<img />").attr('src', "/text/#{@trip.phone}")
      .on('load', function() {
        if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
            alert('broken image!');
        } else {
            $("#image_phone").append(img);
        }
    });

    var tripPoints = [];

    $.getJSON( "#{points_trip_path(@trip)}", function( data ) {
      $.each( data, function( index, item ) {
        tripPoints.push([parseFloat(item.lat), parseFloat(item.lon)]);
      });

      var map = L.map('route').setView(tripPoints[0], 1);

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
      }).addTo(map);

      L.Routing.control({
        waypoints: tripPoints,
        routeWhileDragging: true,
        show: false // setting show to false hides the directions text block
      }).addTo(map);
    });

