%br
%p= link_to '&larr; Retour aux résutats'.html_safe, :back

= flash_messages

%h3="Voyage de #{@trip.point_from.city} à #{@trip.point_to.city}"

.row
  .col-md-6
    .panel.panel-default
      .panel-body
        .row
          .col-md-4
            Départ
          .col-md-8
            %strong= @trip.point_from.city
        .row
          .col-md-4
            Arrivée
          .col-md-8
            %strong= @trip.point_to.city
        .row
          .col-md-4
            Date de départ
          .col-md-8
            %strong=l @trip.departure_date
        .row
          .col-md-4
            Heure de départ
          .col-md-8
            %strong=l @trip.departure_time, format: :short
        .row
          .col-md-4
            Nombre de places
          .col-md-8
            %strong=@trip.seats
        .row
          .col-md-4
            =t Trip.human_attribute_name(:comfort)
          .col-md-8
            %strong=t :"activerecord.attributes.trip.comfort_#{@trip.comfort}"
        .row
          .col-md-4
            Commentaire
          .col-md-8
            .well= @trip.description
        .row
          .col-md-4
            Prix
          .col-md-8
            = number_to_currency @trip.price
        .row
          .col-md-4
            Sexe
          .col-md-8
            =t :"activerecord.attributes.trip.title_#{@trip.title}"
        .row
          .col-md-4
            Fumeur
          .col-md-8
            =t :"activerecord.attributes.trip.smoking_#{@trip.smoking}"
  .col-md-6
    .panel.panel-default
      .panel-body
        .row
          .col-md-8
            .driver
              .avatar= image_tag('covoiturage-avatar-default2.png')
              .info
                .name= @trip.name
                .age= "#{@trip.age} ans" if @trip.age.present?
                .email= @trip.email
                .phone= @trip.phone
          .col-md-4
            .price
              %p= "#{@trip.price} €"
              .seats
                = "#{@trip.seats} places"

    .panel.panel-default
      .panel-body
        #message_zone
          .message#message-wrapper
            = render 'messages/form'


