%h5= "Envoyez un message à #{@trip.name}"
- @message ||= Message.new
= simple_form_for [@trip, @message], remote: true do |f|
  = f.input :sender_name
  = f.input :sender_email
  = f.input :body, as: :text
  = f.submit 'Envoyer', class: 'btn btn-warning btn-lg'