- input_class = large_inputs ? 'input-lg' : ''
- btn_class = large_inputs ? 'btn-lg' : ''

= simple_form_for @search, url: search_url, method: :get, html: { class: 'form-inline' } do |f|
  = f.input :from_city, as: :string, input_html: { class: "#{input_class} geoname" }, label: false, placeholder: 'De'
  = f.input :from_lon, as: :hidden
  = f.input :from_lat, as: :hidden
  = f.input :to_city, as: :string, input_html: { class: "#{input_class} geoname" }, label: false, placeholder: 'À'
  = f.input :to_lon, as: :hidden
  = f.input :to_lat, as: :hidden
  = f.input :date, as: :string, input_html: { class: "datepicker #{input_class}" }, label: false, placeholder: 'Date'
  .form-group
    = f.button :submit, 'Rechercher', class: "btn btn-primary #{btn_class}"

- content_for :javascript_footer do
  :javascript
    $('.geoname').geonameAutocomplete();
    initDatepicker();