%h1 Résultats de votre recherche

%p
  %strong De :
  = @search.from_name
  (
  = @search.from_coordinates
  )
%p
  %strong À :
  = @search.to_name
  (
  = @search.to_coordinates
  )
%p
  %strong Date :
  = @search.date