- content_for :search_zone do
  .jumbotron.small-jumbotron
    .container
      .row
        .col-md-9.col-md-offset-1
          = render partial: 'search/form', locals: { 'large_inputs': false }

%br

- if @trips.empty?
  - if @search.errors.empty?
    - if @search.from_city.empty? && @search.to_city.empty?
      %p Écrivez puis sélectionnez dans la liste : une ville de départ et une ville d'arrivée, ou seulement une ville de départ, ou seulement une ville d'arrivée
    - else
      - if @search.from_city.empty?
        %p Pas de trajets ayant pour arrivée "#{@search.to_city}" à partir du "#{@search.date}" (et ce malgré la recherche sur plusieurs jours après cette date)
      - if @search.to_city.empty?
        %p Pas de trajets ayant pour départ "#{@search.from_city}" à partir du "#{@search.date}" (et ce malgré la recherche sur plusieurs jours après cette date)
      - if !(@search.from_city.empty?) && !(@search.to_city.empty?)
        %p Pas de trajets entre "#{@search.from_city}" et "#{@search.to_city}" à partir du "#{@search.date}" (et ce malgré la recherche sur plusieurs jours après cette date)
- else
  .row
    .col-md-7.col-md-offset-1
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            = page_entries_info @trips
        .panel-body{ style: 'padding: 0' }= render @trips

      = paginate(@trips)

- content_for :javascript_footer do
  :javascript
    if (typeof ga === "function") {
      ga('send', 'event', 'Trajet', 'search', '#{[@search.from_city, @search.to_city].join(', ')}', '#{@trips.count}' );
    }
