- # meta data
- @meta[:title] = 'Covoiturage-libre.fr, le covoiturage gratuit et collaboratif'
- @meta[:description] = '1ère plateforme de covoiturage gratuite et collaborative. Aucune commission sur les trajets. Association à but non lucratif. Depuis 2011.'


- content_for :page_part_1 do
  .container
    .row
      .col-md-12
        = @page_part_1.try(:body)

- content_for :search_zone do
  .jumbotron
    .container
      .row
        .col-md-9
          %h2 Trouvez votre covoiturage
          %p Le covoiturage gratuit, communautaire et libre.
          = render partial: 'search/form', locals: { 'large_inputs': true }
        .col-md-3.home-publish-cta
          %p
            Vous avez une voiture ?
          = link_to 'Publiez une annonce', new_trip_path, class: 'btn btn-lg btn-warning'
          %p
            %br
            Le site ne prend aucune commission
            %br
            Association loi 1901

.row
  .col-md-4
    .feature-block
      %h3 Sans commission
      %p
        Des économies plus importantes pour les conducteurs, des voyages vraiment moins chers pour les passagers. Les prix sont fixés par les conducteurs, le site ne prélève aucune commission sur les trajets, nous ne vivons que de dons.
      %p
        = link_to 'Faire un don »', 'https://www.helloasso.com/associations/covoiturage-libre-fr/collectes/campagne-courante/', target: '_blank', class: 'btn btn-default'
      %p
        = link_to 'Nous soutenir via Lilo »', 'http://www.lilo.org/fr/covoiturage-libre-fr/?utm_source=covoiturage-libre-fr', target: '_blank', class: 'btn btn-default'
  .col-md-4
    .feature-block
      %h3 Libre 
      %p  Nous avons pris cinq engagements :
      %ul
        %li la plateforme est un bien commun : nous ne serons jamais achetés ou cotés en bourse ; 
        %li nous ne vivons que de dons : il n'y a pas de commission sur les trajets ; 
        %li la gouvernance de la plateforme est fondée sur la communauté ; 
        %li notre communauté contribue à la protection de l'environnement ; 
        %li la plateforme contribue au lien social entre covoitureurs. 
      %p
        = link_to 'Pour en savoir plus »', '/association', class: 'btn btn-default'
  .col-md-4
    .feature-block
      %h3 Un bien commun
      %p
        Le covoiturage est un bien commun : la valeur créée par les utilisateurs en covoiturant, comme conducteurs ou comme passagers, doit revenir aux utilisateurs.
        La plateforme est animée et développée par des bénévoles. Pour améliorer la plateforme, la faire mieux connaître, bref, contribuer activement, c'est ici.
      %p
        = link_to 'Contribuer »', '/missions-benevoles', class: 'btn btn-default'
