.container.row
  .col-md-4.col-md-offset-4
    %h2 Connexion
    %p
      Vous n'avez pas encore de compte?
      = link_to "S'inscrire", new_user_registration_path

    .well
      - if Devise.omniauth_configs.has_key?(:facebook)
        = link_to omniauth_authorize_path(resource_name, :facebook), class: "btn-lg btn-primary btn-block" do
          .sso-icon= icon('facebook')
          .sso-label Connexion via Facebook
          .clearfix
      - if Devise.omniauth_configs.has_key?(:google_oauth2)
        = link_to omniauth_authorize_path(resource_name, :google_oauth2), class: "btn-lg btn-danger btn-block" do
          .sso-icon= icon('google')
          .sso-label Connexion via Google
          .clearfix

    .well
      %center
        %h4 Connexion classique
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-inputs
          = f.input :email, required: true
          = f.input :password, required: true
          = link_to "Mot de passe oublié ?", new_user_password_path
          = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
        .form-actions
          = f.button :submit, "Log in", class: 'btn-lg btn-primary btn-block'
