<% content_for :_title do %>
  <%= @user.fullname %>
<% end %>

<% content_for :_subtitle do %>
  (<%= @user.age %>)
<% end %>

<% content_for :actions do %>
  <a href="<%= edit_admin_user_path(@user) %>" class="btn btn-primary btn-breadcrumb <%= "disabled" unless can? :edit, @user %>">
    <i class="fa fa-edit"></i>
    <span class="hidden-xs">Modifier</span>
  </a>
  <a href="<%= admin_user_lock_path(@user) %>" data-method="<%= @user.banned? ? "delete" : "put" %>" class="btn btn-warning btn-breadcrumb <%= "disabled" unless can? :lock, @user %>">
    <i class="fa fa-<%= 'un' if @user.banned? %>lock"></i>
    <span class="hidden-xs"><%= @user.banned? ? "Débloquer" : "Bloquer" %></span>
  </a>
  <a href="<%= admin_user_path(@user) %>" data-method="delete" data-confirm="Êtes-vous sûr ?" class="btn btn-danger btn-breadcrumb <%= "disabled" unless can? :delete, @user %>">
    <i class="fa fa-trash-o"></i>
    <span class="hidden-xs">Supprimer</span>
  </a>
<% end %>

<% content_for :breadcrumbs do %>
  <li><a href="<%= root_path %>"><i class="fa fa-home"></i> Accueil</a></li>
  <li><a href="<%= admin_path %>"><i class="fa fa-cogs"></i> Administration</a></li>
  <li><a href="<%= admin_users_path %>"><i class="fa fa-users"></i> Utilisateurs</a></li>
  <li class="active"><i class="fa fa-eye"></i> <%= @user.username %></a></li>
<% end %>

<% content_for :page do %>
  <%= render "users/view", user: @user, admin: true %>
<% end %>

<%= render "shared/page_with_sidebar", position: :right, gap: 0 %>
