= simple_form_for @user, url: profile_path do |f|
  .panel.panel-default
    .panel-heading.clearfix
      %h4.panel-title.pull-left{style: "padding-top: 7.5px;"}
        Informations
      .btn-group.pull-right
        %input.btn.btn-primary.btn-sm{type: "submit", value: "Enregistrer"}
    .panel-body.pb-0
      = f.input :display_name, label: "Nom d'usage"
      = f.input :email, label: "Email"
      = f.input :telephone, label: "Téléphone"
      = f.input :date_of_birth, label: "Date de naissance",
        start_year: Date.today.year - 90,
        end_year: Date.today.year - 12,
        order: [:day, :month, :year]
      - unless ENV['OAUTH_REDIRECT_AT_SIGN_IN'] == 'true'
        .row
          .col-sm-6
            = f.input :password
          .col-sm-6
            = f.input :password_comfirmation
