%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      = link_to root_url, class: 'navbar-brand' do
        = svg 'logo-title'
    %form.navbar-form.navbar-right
      .form-group
        = link_to 'Publier une annonce', new_trip_path, class: 'btn btn-default btn-new-trip'

    = link_to root_url, class: 'logo-truck' do
      = svg 'logo-truck'
