%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: root_url}
        = image_tag 'covoiturage-libre-logo.svg', height: '50', alt: 'Logo Covoiturage Libre', class: 'g-navbar__logos g-navbar__logo-entire'
        = image_tag 'covoiturage-baseline-logo.svg', height: '35', alt: 'Logo Covoiturage Libre baseline', class: 'g-navbar__logos g-navbar__logo-baseline'

    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Faire un don', 'https://www.helloasso.com/associations/covoiturage-libre-fr/collectes/campagne-courante/', target: '_blank', rel: 'noopener'
        %li= link_to 'Contribuer', 'http://wiki.covoiturage-libre.fr/index.php?title=Accueil', target: '_blank', rel: 'noopener'
        %li= link_to 'Le blog', 'http://blog.covoiturage-libre.fr', target: '_blank', rel: 'noopener'
        %li
          %p.navbar-btn
            = link_to 'Publier une annonce', new_trip_path, class: 'btn btn-warning' unless current_page?('/')
