!!!
%html{:lang => "fr"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Covoiturage Libre - Le 1er site de covoiturage français communautaire et libre.

    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    %meta{:content => "Le 1er site de covoiturage français communautaire et libre", :name => "description"}/
    %meta{:content => "Association CovoiturageLibre", :name => "author"}/
    %link{:href => "../../favicon.ico", :rel => "icon"}/
    %title Jumbotron Template for Bootstrap
    / Bootstrap core CSS
    %link{:href => "../../dist/css/bootstrap.min.css", :rel => "stylesheet"}/
    / IE10 viewport hack for Surface/desktop Windows 8 bug
    %link{:href => "../../assets/css/ie10-viewport-bug-workaround.css", :rel => "stylesheet"}/
    / Custom styles for this template
    %link{:href => "jumbotron.css", :rel => "stylesheet"}/
    / Just for debugging purposes. Don't actually copy these 2 lines!
    /[if lt IE 9] <script src="../../assets/js/ie8-responsive-file-warning.js"></script>
    %script{:src => "../../assets/js/ie-emulation-modes-warning.js"}
    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/navbar'
    = render 'layouts/jumbotron'
    .container
      = yield
      %hr/
      %footer
        %p © 2016 Covoiturage Libre, association loi 1901.


    /
      Bootstrap core JavaScript
      ==================================================
    / Placed at the end of the document so the pages load faster
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
    %script{:src => "../../dist/js/bootstrap.min.js"}
    / IE10 viewport hack for Surface/desktop Windows 8 bug
    %script{:src => "../../assets/js/ie10-viewport-bug-workaround.js"}